<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>

    <link rel="stylesheet" href="css/index.css" />

    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
  </head>

  <body>
    <div class="logo">< ? ></div>

    <div>>> SEJA BEM VINDO AO CHAT DO CHARADA.</div>
    <div>
      >> UMA APLICAÇÃO DE CHAT EM TEMPO REAL E MINIMALISTA INSPIRADA NO CHAT
      PRESENTE NO FILME DO BATMAN.
    </div>

    <br /><br />

    <div>>> ORIENTAÇÕES:</div>
    <div>>> PARA CRIAR UMA SALA BASTA DIGITAR NA URL O NOME DELA.</div>
    <div>>> PARA ACESSAR UMA SALA BASTA DIGITAR NA URL O NOME DELA.</div>
    <div>>> AS CONVERSAS NÃO SÃO SALVAS.</div>

    <br /><br />

    <div>>> SOBRE O DESENVOLVIMENTO:</div>
    <div>>> DESENVOLVIDO POR: JULIANO COLERE CECCON MOREIRA</div>
    <div>>> GITHUB: JULIANOCCMOREIRA</div>
    <div>>> FEITO COM: NODEJS</div>
  </body>
</html>
