@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@400;500&family=Ropa+Sans&display=swap");

body {
  background-color: black;
  padding: 40px 20px;
}

div {
  color: green;
  font-family: monospace;
  font-size: 15px;
  margin: 13px 0px;
  font-family: Ropa Sans;
}

.logo {
  position: fixed;
  background-color: black;
  height: 40px;

  top: 0;
  left: 0;
  margin-top: 0;
  padding-top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  font-size: 25px;
  color: rgb(0, 255, 0);
  text-align: center;
}

.you-text {
  color: rgb(0, 255, 0);
}

#send-container {
  display: flex;
  flex-direction: row;
}

#send-container input[type="text"] {
  font-size: 15px;
  color: rgb(0, 255, 0);
  font-family: Ropa Sans;
  background: transparent;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
}

::placeholder {
  color: rgb(4, 120, 4);
}

button {
  visibility: hidden;
}
